.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.contenttable {
  width:80%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contenttable thead tr {
  background-color: #d1411e;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.contenttable th,
.contenttable td {
  padding: 12px 15px;
}

.contenttable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contenttable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contenttable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.contenttable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
  

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
.payButton{
  padding: 10px,5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color:teal;
  font-weight: bold;
}
.paymentMethods{
  margin-top:10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .contenttable  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle{
    display: none;
  }

  .tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imgContainer{
    width: 35vw;
    height: 35vw;
  }

  .name,.total{
    font-size: 24px;
  }

  .extras,.price,.quantity{
    font-size: 22px;
  }

  .price::before{
    content: "Price: ";
    font-weight: 500;
  }
  .quantity::before{
    content: "Quantity: ";
    font-weight: 500;
  }
  .total::before{
    content: "Total: ";
    font-weight: 500;
  }

  .wrapper{
    width: 100%;
  }
  
}
